@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
/*Overpass 300-600 Ubuntu 400-500-700*/
:root{
    --lightRed: hsl(356, 100%, 66%);
    --veryLightRed: hsl(355, 100%, 74%);
    --veryDarkBlue: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayishBlue: hsl(240, 2%, 79%);
    --darkGrayishBlue: hsl(207, 13%, 34%);
    --darkBlackBlue: hsl(240, 10%, 16%);

    --fontUbuntu:'Ubuntu', sans-serif;
    --fontOverpass: 'Overpass', sans-serif;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: var(--fontOverpass);
    font-weight: 300;
}
/*Nav*/
.header{
    background: rgb(255,143,112); 
    background: url(../images/bg-pattern-intro-mobile.svg) -350px -300px, linear-gradient(180deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%);
    height: 95vh;
    border-bottom-left-radius: 100px;
    margin-bottom: 70px;
}
.navbar{
    height: 150px;
    display: flex;
    align-items: center;
}
.navbar__logo{
    position: relative;
    left: 25px;
}
.nav__checkbox{
    display: none;
}
.nav__toggle {
    position: absolute;
    cursor: pointer;
    right: 25px;
}
.nav__toggle .close {
    display: none;
}
.navbar-content {
    display: none;
    list-style-type: none;
}
#nav__checkbox:checked ~ .navbar-content {
    display: block;
    position: absolute;
    top: 120px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: var(--white);
    width: 90%;
    text-align: center;
}
.signup-container{
    display: flex;
    flex-direction: column;
}
.navbar-content li{
    list-style: none;
}
#nav__checkbox:checked ~ label.nav__toggle .close {
    display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .menu {
    display: none;
}
/*hero*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: var(--white);
}
.hero-title{
    font-family: var(--fontUbuntu);
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    width: 80%;
    margin-bottom: 10px;
}

.hero-paragraph{
    color: hsl(240, 2%, 79%);
    width: 90%;
    text-align: center;
    margin-bottom: 50px;
}

.btn{
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-family: var(--fontUbuntu);
    font-weight: 700;
}

.btn--white{
    background-color: var(--white);
    margin-right: 10px;
    color: var(--lightRed);
}
.btn--transparent{
    border: 1px solid var(--white);
    color: var(--white);
    background-color: transparent;
}

/*Section 1 Intro*/
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--veryDarkBlue);
    margin-bottom: 230px;
}
.intro-title, .content-title{
    font-size: 26px;
    margin: 40px 0 20px 0;
    font-family: var(--fontOverpass);
    font-weight: 600;
}
.content-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.content-paragraph{
    line-height: 1.5;
    font-weight: 500;
    color: var(--darkGrayishBlue);
}

/*Section 2 State of Art*/

.state-img{
    width: 100%;
    position: absolute;
    top: 1675px;
}
.state-content{
    background: rgb(44,45,63);
    background: url(../images/bg-pattern-circles.svg) center -210px/600px 600px no-repeat, linear-gradient(90deg, rgba(44,45,63,1) 0%, rgba(63,65,100,1) 100%); 
    color: var(--white);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 600px;
    padding-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.state-title{
    font-family: var(--fontOverpass);
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 20px;
}
.state-paragraph{
    line-height: 1.5;
    width: 80%;
}

/*features*/
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

/*footer*/
.footer{
    background-color: var(--darkBlackBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding: 50px 0;
    border-top-right-radius: 90px;
    color: var(--white);
}


  